<%= javascript_include_tag "logic/common.js.coffee" %>
<%= javascript_include_tag "footer" %>
<table id="scores">
  <tr class="header">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_1">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_2">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_3">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_4">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_5">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_6">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_7">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_8">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_9">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_10">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_11">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_12">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_13">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_14">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_15">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_16">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_17">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
  <tr class="row_18">
    <td class="col_hole_no"></td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>

  <tr class="sum">
    <td class="col_hole_no">合計</td><td class="col_par"></td><td class="col_1"></td><td class="col_2"></td><td class="col_3"></td><td class="col_4"></td>
  </tr>
</table>
<div id="footer">
  <div class="full_width">
    <%= button_tag "終了", id: "finish" %>
  </div>
</div>
