/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

html, body {
  margin:   0;
  padding:  0;
  height:   100%;
  background-image: url("/assets/dice.jpg");
  background-repeat: repeat;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px; 
}

#contents {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px;
}

#logo {
  text-align: center;
  box-sizing: border-box;
}

#notice {
  border: 1px dotted gray;
  background-color: white;
  /* border-radius: 8px; */
  box-sizing: border-box;
  padding: 10px;
}

#notice a, #notice a:visited {
  color: red;
  font-weight: bold;
}

#notice ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  color: red;
  font-weight: bold;
}

#notice li {
  margin: 0;
  padding: 0;
}

